<!-- views/partials/head.ejs -->
<title>Quickbin</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
  /* The whole stylesheet is a big mess. I don't really care about 
   the frontend as long as just somehow it works. */

  html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
  }

  body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: bisque;
  }

  .post-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(186, 171, 151);
    border-radius: 5px;
  }

  .post-container form {
    margin: 10px 0px;
  }

  .post-container input[type="text"] {
    border: 2px solid black;
    border-radius: 3px;
    width: 75%;
    margin: 5px;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 5px;
  }

  .post-container textarea {
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    resize: vertical;
    width: 75%;
    height: 50vh;
    margin: 5px;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  .auth-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(186, 171, 151);
    border-radius: 5px;
  }

  .auth-container input[type="text"] {
    border: 2px solid black;
    border-radius: 3px;
    width: 75%;
    margin: 5px;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 5px;
  }

  .auth-container input[type="password"] {
    border: 2px solid black;
    border-radius: 3px;
    width: 75%;
    margin: 5px;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 5px;
  }

  .userdata-spacing {
    max-width: 80%;
    padding: 30px;
    background-color: rgb(186, 171, 151);
    border-radius: 5px;
    margin: 0 auto;
  }

  .another-userdata-spacing-container {
    padding: 30px;
  }

  .userdata-container {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
  }

  .userdata-container table {
    table-layout: fixed;
    border: 2px solid black;
    border-radius: 3px;
    width: 75%;
    margin: 5px;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 5px;
  }

  .userdata-container td,
  th {
    white-space: nowrap;
    overflow: hidden;
  }

  .navbar {
    background-color: rgb(70, 70, 70);
    color: #fff;
    overflow: hidden;
    border-radius: 7px;
  }

  .navbar-container {
    text-align: center;
    padding: 10px;
  }

  .submit-button {
    margin: 10px;
    position: static;
    text-align: center;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 6px;
    padding: 5px;
    width: 100px;
  }

  .submit-button-large {
    margin: 10px;
    position: static;
    text-align: center;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 6px;
    padding: 5px;
    width: 150px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .logo {
    font-weight: bold;
    font-size: x-large;
    color: #fff;
    padding: 20px;
    padding-left: 25px;
    float: left;
  }

  .navbar a {
    float: left;
    padding: 14px 16px;
    border-radius: 5px;
    font-size: medium;
  }

  .navlinks a:hover {
    background-color: rgb(90, 90, 90);
  }

  .footer {
    padding: 30px;
  }
</style>
